* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

.DateCard {
  width: 8%;
  font-size: 12px;
  padding: 0 5px;
  border-right: 1px solid #fff;
  text-align: right;
}

.Timeline-Key {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.Timeline-key-color {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  margin-right: 10px;
}

.Manage-timeline {
  display: flex;
  flex-direction: column;
  background-color: #F6F7FB;
  padding: 20px;
  flex-grow: 2;
  overflow-y: auto;
  height: 300px;
}

.Manage-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-top: 15px;
  border-radius: 4px;
  padding: 20px;
}

.Manage-content-top {
  display: flex;
  justify-content: space-between;
}

.Manage-content-top-title {

}

.Manage-content-keys {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.Manage-content-dates {
  display: flex;
  margin-left: 80px;
  margin-bottom: 10px;
}

.Manage-content-timeline-row {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

.Manage-content-timeline-row-content {
  display: flex;
  width: 100%;
}
