.Deal {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  height: 300px;
  overflow-y: auto;
}

.Deal-content {
  display: flex;
  flex-grow: 1;
}

.Deal-left {
  width: 45%;
  margin-right: 5%;
}

.Deal-right {
  width: 50%;
}

.Deal-right-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.Deal-right-nav-link {
  margin-right: 30px;
  margin-bottom: 10px;
  color: grey;
}

.Deal-right-nav-link:hover {
  cursor: pointer;
}

.Deal-right-nav-link-span {
  font-size: 11px;
  font-weight: 600;
  margin-left: 3px;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background-color: #F44436;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Deal-row {
  display: flex;
  align-items: center;
  height: 40px;
}

.Deal-title {
  margin-bottom: 15px;
}

.Deal-title-less-margin {
  height: 35px;
}

.Deal-detail {
  margin-bottom: 7px;
}

.Deal-summary {
  margin-top: 23px;
}

.Deal-summary-title {
  display: flex;
  align-items: center;
}

.Deal-treaty-type {
  padding: 15px;
  padding-right: 40px;
  background-color: #F6F7FB;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.Deal-details {
  margin-bottom: 40px;
}

.Detail {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.Detail-content {
  display: flex;
  align-items: center;
}

.Deal-territories-list {
  display: flex;
  flex-wrap: wrap;
}

.Deal-territories-territory {
  display: flex;
  height: 40px;
  align-items: center;
}

.Deal-territories-name {
  width: 110px;
  margin-left: 15px;
  font-size: 14px;
}

.Deal-territories-top {
  display: flex;
  align-items: center;
}

.Deal-territories-top-select-all {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Deal-markets-top {
  display: flex;
  align-items: center;
}

.Deal-markets-toprow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Deal-markets-market {
  border-bottom: 1px solid #e0e0e0;
  padding: 5px!important;
}

.row-centered {
  display: flex;
  align-items: center;
}

.Deal-markets-autocomplete {
  width: 400px;
}

.Deal-market-list-name {
  margin-right: 10px;
}

.Deal-market-notes-button {
  margin-top: 7px;
}

.Deal-market-notes-market-name {
  font-size: 14px;
  font-weight: 600;
}

.Deal-market-toprow-name {
  width: 200px;
}

.Deal-market-contact {
  max-width: 120px;
  min-width: 120px;
}

.Deal-market-notes-static {
  font-size: 13px;
}