.Deal {
  padding: 20px;
  width: 100%;
  max-height: 100%;
  overflow: scroll!important;
}

.Deal-content {
  display: flex;
}

.Deal-left {
  width: 45%;
  margin-right: 5%;
}

.Deal-right {
  width: 50%;
}

.Deal-right-nav {
  display: flex;
  margin-bottom: 20px;
}

.Deal-right-nav-link {
  margin-right: 30px;
  color: grey;
}

.Deal-right-nav-link:hover {
  cursor: pointer;
}

.Deal-row {
  display: flex;
  align-items: center;
  height: 40px;
}

.Deal-title {
  margin-bottom: 20px;
}

.Deal-title-less-margin {
  height: 35px;
}

.Deal-detail {
  margin-bottom: 7px;
}

.Deal-summary {
  margin-top: 23px;
}

.Deal-summary-title {
  display: flex;
}

.Deal-treaty-type {
  padding: 15px;
  padding-right: 40px;
  background-color: #F6F7FB;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.Deal-details {
  margin-bottom: 40px;
}

.Detail {
  width: 500px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.Detail-content {
  display: flex;
  align-items: center;
}

.Deal-territories-list {
  display: flex;
  flex-wrap: wrap;
}

.Deal-territories-territory {
  display: flex;
  height: 40px;
  align-items: center;
}

.Deal-territories-name {
  width: 130px;
  margin-left: 15px;
  font-size: 15px;
}

.Deal-territories-top {
  display: flex;
  align-items: center;
}

.Deal-territories-top-select-all {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
