.ReDeal {
  background-color: #F6F7FB;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ReDeal-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px!important;
}

.ReDeal-title {
  margin-right: 20px!important;
}

.ReDeal-main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.ReDeal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex-grow: 1;
  width: 50%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ReDeal-insurance-overview {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.ReDeal-insurance-overview-left {
  margin-right: 10px;
  font-weight: 600;
  color: grey;
}

.ReDeal-content-summary {
  margin-bottom: 20px;
}

.ReDeal-treaty-info {
  margin: 30px 0;
}

.ReDeal-details {
  width: 100%;
}

.ReDeal-details-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}

.re-chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.re-chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.re-chat-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 200px;
  overflow-y: auto;
}

.re-chat-input  {
  border: 1px solid #e0e0e0;
  height: 75px;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  background-color: #F6F7FB;
}

.re-chat-input-field {
  display: flex;
  flex-grow: 2;
}

.re-chat-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.re-chat-input-button-send {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #069CEC;
  color: #fff;
}

.ReDeal-territory-check-div {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.ReDeal-broker {
  display: flex;
}

.ReDeal-territories {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  height: 100px;
  width: 100%;
  overflow-y: auto;
  word-wrap: break-all;
  /* overflow-x: inherit; */
}